---
import Layout from "@layouts/Layout.astro";
import Footer from "@components/Footer.astro";

import { homepage } from "@content/homepage";
import Features from "@components/Features.astro";
import BlogCard from "@components/BlogCard.astro";

let blogs = await Astro.glob<Frontmatter>("./blog/*.mdx");
blogs = blogs.sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<Layout>
  <section class="grid py-4 place-items-center text-center">
    <!--<img src="PLEIADIAN2.png" class="w-48" />
    <h1 class="sm:text-4xl text-3xl font-bold mb-6 dark:text-white">Pleiadian Records</h1>-->
    <p
      class="p-4 uppercase font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-blue-400 to-sky-100"
    >
      Cutting edge psytrance music label
    </p>
    <img src="starbeignsbanner.jpg" class="rounded-3xl drop-shadow-xl" />
    <p class="pt-4 text-sm">Listen to our latest release here.</p>
  </section>
  <h1 class="sm:text-4xl text-3xl font-bold mb-2 text-transparent bg-clip-text bg-gradient-to-r from-blue-400 to-sky-100">
    Latest Releases
  </h1>
  {
    homepage.slice(0, 3).map((homepage) => (
      <Features
        title={homepage.title}
        releasedate={homepage.releasedate}
        url={homepage.url}
        image={homepage.image}
        artist={homepage.artist}
        icon={homepage.icon}
        content={homepage.content}
      />
    ))
  }

  <!--
  <section class="py-20 sm:flex sm:items-center sm:justify-evenly text-center sm:text-left">
    {
      (
        <ul class="grid sm:grid-cols-3 gap-16">
          {counter.map((counter) => (
            <Counter number={counter.number} label={counter.label} />
          ))}
        </ul>
      )
    }
  </section>

   -->
  <section>
    <h1 class="sm:text-4xl text-3xl font-bold mb-6 text-transparent bg-clip-text bg-gradient-to-r from-blue-400 to-sky-100">
      Artists
    </h1>
    <!-- <p class="dark:text-zinc-300 mb-6">Ship Navigators</p>-->
  </section>
  <section>
    <ul class="flex flex-wrap grow-0 pl-7">
      {
        blogs.map((post) => (
          <BlogCard
            title={post.frontmatter.title}
            description={post.frontmatter.description}
            pubDate={post.frontmatter.pubDate}
            url={post.url}
          />
        ))
      }
    </ul>
  </section>
  <Footer />
</Layout>
