---
import Layout from "@layouts/Layout.astro";
import BlogCard from "@components/BlogCard.astro";
import { homepage } from "@content/homepage";
import Features from "@components/Features.astro";

const metadata = {
  title: "Pleiadian Records",
  description: "Cutting edge psychedelic trance music label.",
};
---

<Layout {...metadata}>
  <section>
    <h1
      class="sm:text-4xl text-3xl font-bold mb-2 text-transparent bg-clip-text bg-gradient-to-r from-blue-400 to-sky-100"
    >
      Releases
    </h1>
    {
      homepage.map((homepage) => (
        <Features
          title={homepage.title}
          releasedate={homepage.releasedate}
          url={homepage.url}
          image={'../' + homepage.image}
          artist={homepage.artist}
          icon={homepage.icon}
          content={homepage.content}
        />
      ))
    }
  </section>
</Layout>
